In [1]:
student_marks=int(input("enter the marks"))
if student_marks>90 :
    print("The grade of the student is {}".format("A"))
elif student_marks>80 and student_marks<=90:
    print("The grade of the student is {}".format("B"))
elif student_marks>=60 and student_marks<=80:
    print("The grade of the student is {}".format("C"))
elif student_marks<60:
    print("The grade of the student is {}".format("D"))

enter the marks 55

The grade of the student is D

In [2]:
cost_price=int(input("enter the cost price"))
if cost_price>100000:
    print("the taxt amount id 15% and your total amount is {}".format(100000*0.15))
elif cost_price>50000 and cost_price<=100000:
    print("the taxt amount id 10% and your total amount is {}".format(50000*0.1 and 100000*0.1))
elif cost_price <=50000:
    print("the taxt amount id 5% and your total amount is {}".format(50000*0.05))

enter the cost price 50000

the taxt amount id 5% and your total amount is 2500.0

In [3]:
city_name = input("enter the name of the city")
if city_name == "delhi":
    print("you can visit RED FORT{}".format(city_name))
elif city_name== "agra":
     print("you can visit TAJ MAHAL{}".format(city_name))
elif city_name == "jaipur":
    print("you can visit JAL MAHAL{}".format(city_name))

enter the name of the city delhi

you can visit RED FORTdelhi

In [4]:
def divide_by_3(n):
    count = 0
    while n > 10:
        n = n / 3
        count += 1
    return count

number = 99
result = divide_by_3(number)
print(result)

3

# 5.why and when to use while loop in python give detailed description with example?

# ansswer.With the while loop we can execute a set of statements as long as a condition is true.
### The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.The while statement simply loops until a condition is False.
##### example----i = 1
##### while i < 6:
##### print(i)
##### i += 1

# 6.use nested while loop to print 3 different pattern?

In [14]:
#answer.
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [16]:
#2nd pattern
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [17]:
#3rd pattern
rows = 5
for j in range(1, rows+1):
    print("* " * j)

*
* *
* * *
* * * *
* * * * *

## Reverse a while loop to display number from 10 to 1.

In [22]:
#answer
num = 123456
print(str(num)[::-1])

654321